@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
  --background-color: #e7ecef;
  --hover-text-color: #6096ba;
  --text-color: #133c55;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  font-size: larger;
  text-decoration: none;
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--hover-text-color);
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.chat-bot-container {
  height: 400px;
  width: 400px;
}

.chat-bot {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #f1faee;
}

.chat-bot-message {
}
.user-photo {
  width: 35px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
